<mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    
    <mat-divider></mat-divider>
      <mat-card-content class="push-bottom-none">
        <form #formulario="ngForm">

  
          <div layout="row">
            <mat-form-field flex>
              <input matInput
                      #nombreProductoElement
                      #productoControl="ngModel" 
                      type="text" 
                      placeholder="Producto" 
                      [(ngModel)]="objectoPrincipal.nombreProducto" 
                      name="nombreProducto" 
                      maxlength="4" 
                      required
                      disabled="true">
              <mat-hint align="start">
                <span [hidden]="productoControl?.pristine || !productoControl?.errors?.required" class="tc-red-600">Requerido</span>
              </mat-hint>
            </mat-form-field>
          </div>

          <div layout="row">
            <mat-form-field flex>
              <input matInput
                      #precioElement
                      #precioControl="ngModel" 
                      type="number" 
                      placeholder="Precio" 
                      [(ngModel)]="objectoPrincipal.precio"
                      name="precio" 
                      required>
              <mat-hint align="start">
                <span [hidden]="precioControl?.pristine || !precioControl?.errors?.required" class="tc-red-600">Requerido</span>
              </mat-hint>
            </mat-form-field>
        </div>
          
      </form>
    </mat-card-content>

  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button [disabled]="!formulario.valid" color="primary" (click)="save()">Aceptar</button>
    <button mat-button (click)="goBack()">Cancelar</button>
  </mat-card-actions>
</mat-card>

