<mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    
    <mat-divider></mat-divider>
      <mat-card-content class="push-bottom-none">
        <form #formulario="ngForm">

          <div layout="row">
              <mat-form-field flex>
                <input matInput
                        #codigoProductoElement
                        #codigoProductoControl="ngModel" 
                        type="text" 
                        placeholder="Código producto" 
                        [(ngModel)]="objectoPrincipal.codigoProducto" 
                        name="codigoProducto" 
                        maxlength="4" 
                        required
                        [disabled]="this.action !== 'add'">
                <mat-hint align="start">
                  <span [hidden]="codigoProductoControl?.pristine || !codigoProductoControl?.errors?.required" class="tc-red-600">Requerido</span>
                </mat-hint>
              </mat-form-field>
          </div>

          <div layout="row">
              <mat-form-field flex>
                <input matInput
                        #nombreProductoElement
                        #nombreProductoControl="ngModel" 
                        type="text" 
                        placeholder="Nombre producto" 
                        [(ngModel)]="objectoPrincipal.nombreProducto" 
                        name="nombreProducto" 
                        maxlength="100" 
                        required>
                <mat-hint align="start">
                  <span [hidden]="nombreProductoControl?.pristine || !nombreProductoControl?.errors?.required" class="tc-red-600">Requerido</span>
                </mat-hint>
              </mat-form-field>
          </div>

          <div layout="row">
            <mat-form-field flex>
              <mat-select [(ngModel)]="selectedTipoCategoria"
                          [ngModelOptions]="{name: 'user'}"
                          (ngModelChange)="onChangeTipoCategoria($event)"
                           #TipoCategoriaElement
                           #TipoCategoriaControl="ngModel"
                           placeholder="Categoría"
                           required>
                <mat-option *ngFor="let item of listTipoCategorias" 
                    [value]="item.codigoCategoria">{{ item.nombreCategoria }}
                </mat-option>
              </mat-select>
            
              <mat-hint align="start">
                  <span [hidden]="TipoCategoriaControl?.pristine || !TipoCategoriaControl?.errors?.required" class="tc-red-600">Requerido</span>
              </mat-hint>
            </mat-form-field>
          </div>
          
      </form>
    </mat-card-content>

  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button [disabled]="!formulario.valid" color="primary" (click)="save()">Aceptar</button>
    <button mat-button (click)="goBack()">Cancelar</button>
  </mat-card-actions>
</mat-card>

