
<!--
 <div>
    
                <div layout="row" class="pull-bottom pull-right">
                  <ngx-charts-number-card
                      [scheme]="colorScheme"
                      [results]="single">
                   </ngx-charts-number-card>
                </div>
                <div layout-gt-xs="row">
                  <div flex-gt-xs="50">
                    <mat-card>
                      <mat-card-title>Gauge</mat-card-title>
                      <mat-divider></mat-divider>
                      <div style="height:250px;">
                        <ngx-charts-gauge
                          [scheme]="colorScheme"
                          [results]="single"
                          [min]="0"
                          [max]="100"
                          [units]="'usage'"
                          [bigSegments]="10"
                          [smallSegments]="5">
                        </ngx-charts-gauge>
                      </div>
                    </mat-card>
                  </div>
                  <div flex-gt-xs="50">
                    <mat-card>
                      <mat-card-title>Stacked Horizontal Bars</mat-card-title>
                      <mat-divider></mat-divider>
                      <div style="height:250px;">
                        <ngx-charts-bar-horizontal-stacked
                          [scheme]="colorScheme"
                          [results]="multi"
                          [gradient]="gradient"
                          [xAxis]="showXAxis"
                          [yAxis]="showYAxis"
                          [legend]="showLegend"
                          [showXAxisLabel]="showXAxisLabel"
                          [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel"
                          [xAxisTickFormatting]="axisDigits">
                        </ngx-charts-bar-horizontal-stacked>
                      </div>
                    </mat-card>
                  </div>
                </div>
                <div layout-gt-xs="row">
                  <div flex-gt-xs="50">
                    <mat-card>
                      <mat-card-title>Vertical Grouped Bars</mat-card-title>
                      <mat-divider></mat-divider>
                      <div style="height:250px;">
                        <ngx-charts-bar-vertical-2d
                          [scheme]="colorScheme"
                          [results]="multi"
                          [gradient]="gradient"
                          [xAxis]="showXAxis"
                          [yAxis]="showYAxis"
                          [legend]="showLegend"
                          [showXAxisLabel]="showXAxisLabel"
                          [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel"
                          [yAxisLabel]="yAxisLabel"
                          [yAxisTickFormatting]="axisDigits"
                          [barPadding]="2"
                          [groupPadding]="8">
                        </ngx-charts-bar-vertical-2d>
                      </div>
                    </mat-card>
                  </div>
                  <div flex-gt-xs="50">
                    <mat-card>
                      <mat-card-title>Lines</mat-card-title>
                      <mat-divider></mat-divider>
                      <div style="height:250px;">
                        <ngx-charts-line-chart
                          [scheme]="colorScheme"
                          [results]="multi"
                          [gradient]="gradient"
                          [xAxis]="showXAxis"
                          [yAxis]="showYAxis"
                          [legend]="showLegend"
                          [showXAxisLabel]="showXAxisLabel"
                          [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel"
                          [yAxisLabel]="yAxisLabel"
                          [autoScale]="autoScale"
                          [yAxisTickFormatting]="axisDigits">
                        </ngx-charts-line-chart>
                      </div>
                    </mat-card>
                  </div>
                </div>
              
</div>
-->

